/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* styles/style.css */
.rainbow-border {
  border: 5px solid transparent; /* Ajustez la largeur de la bordure si nécessaire */
  border-image: linear-gradient(
    90deg,
    rgb(235, 63, 63),
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  ) 1;
  border-radius: 15px; /* Coins arrondis (facultatif) */
  padding: 20px; /* Espace intérieur */
}

